include .readthedocs.yaml CHANGELOG.md requirements.txt requirements_dev.txt tox.ini
recursive-include tests *.py
recursive-include examples *.py *.txt
recursive-include docs *.py *.md *.rst *.png *.svg *.css
prune docs/_build
